/*
td.uri {
    color: darkblue;
    font-style: oblique;
}
*/
/*
td.verb {
    color: green;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
*/
td.description {
    color: brown;
}