[Unit]
Description=Firefly Service.

[Service]
Type=idle
ExecStart=/usr/bin/FireflyService
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target